
.nav-wrapper{
    height:10vh;
    display: flex;
    justify-content: space-between;
    color: rgb(191, 194, 92);
    position:fixed;
   top: 0px;
    width: 100%;
    z-index: 2;
    background-color: rgb(26, 26, 30);
}

.nav-left{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
    cursor: pointer;
}
.nav-name{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    cursor: pointer;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1rem;
    font-weight: 400;
}
.nav-list{
    flex: 20;
    margin-left: 18rem;
    cursor: pointer;
}

.nav-list>ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
   
    font-weight: bold;
    font-size:1.2rem;
}
.nav-list>ul>li:hover{
    color: rgb(185, 96, 41);
cursor: pointer;

}
.nav-btn{
    flex: 1;
    margin-right: 2rem;
}
.nav-btn:hover{
    background-color: whitesmoke;
    color:#434a07aa ;
}

.nav-avatar{
    width: 2rem;
    height: 2rem;
    background-color:rgb(60, 60, 58); 
    padding:0.5rem;
    border-radius: 1rem;
}
.nav-avatar>img{
    width: 100%;
    height: 100%;
    border-radius:0.8rem;
}
.dropDown{
    display: none;
}
li{
    text-decoration: none;
}
.check-label{
    display: none;
}
.nav-check{
    margin-top: 1rem;
    margin-right: 2rem;
}
.land-dot-list{
    position: absolute;
    margin-top: 4.5rem;
    margin-left: 80%;
    display: none;
    background-color: black;
    width: 7rem;
    border-radius: 0.5rem;
}
li{
    list-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .dropDown{
        display: inline-block;
        margin-top: 1rem;
        margin-right: 2rem;
    }
   
    .nav-list{
        flex: 20;
        margin-left: 8rem;
        
    }
    .nav-name{
        font-size: 1.2rem;
        font-weight: bold;
        padding-left: 1rem;
      
    }
  }

  @media only screen and (max-width: 800px) {
    
    .nav-list{
        flex: 20;
        margin-left:5rem;
        cursor: pointer;
    }
    .nav-list>ul{
        display: flex;
        gap: 0.8rem;   
        font-weight: bold;
        font-size:1rem;
    }
  }
  

  
@media only screen and (max-width: 700px) {
    .dropDown{
        margin-right: 1rem;
    }
    .nav-right{
        display: none;
    }
    .nav-name{
        font-size: 1rem;
        font-weight: bold;
        padding-left: 1rem;
        cursor: pointer;
    }
    .check-label{
        display: block;
    }
   
    .land-dot-list{
        position: absolute;
        margin-top: 4.5rem;
        margin-left: 80%;
        display: block;
        background-color: black;
        width: 7rem;
        border-radius: 0.5rem;
    }
    .nav-check{
        margin-top: 1.4rem;
        margin-right: 2rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
   
   
    .land-dot-list{
        position: absolute;
        margin-top: 4.5rem;
        margin-left:78%;
        display: block;
        background-color: black;
        width: 7rem;
        border-radius: 0.5rem;
    }
   
  } 
  

  @media only screen and (max-width: 500px) {
   
   
    .land-dot-list{
       margin-left: 72%;
    }
   
  }

  @media only screen and (max-width: 500px) {
   
    .land-dot-list{
        margin-left: 69%;
     }
    
  }

 /* @media only screen and (max-width: 500px) {
   
   
    .land-dot-list{
        position: absolute;
        margin-top: 4.5rem;
        margin-left:20rem;
        display: block;
        background-color: black;
        width: 7rem;
        border-radius: 0.5rem;
    }
   
  } */
